* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: 'Monda', sans-serif;;
}

*::-webkit-scrollbar 
{
    width: 0;
    height: 0;
}
html, body 
{
    background-color: rgb(14,12,44);

}
a 
{
    text-decoration: none;
    color: whitesmoke;
}
.my-container 
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section 
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    .label 
    {
        color: honeydew;
    }

    .content
    {
        // border-radius: 0.5em;
        // background-color: rgb(51, 51, 51);
        position: relative;
        overflow-x: hidden;
        transition: 1s;
        overflow-y: hidden;
        &::before 
        {
            content: "";
            position: absolute;
            transform-origin: 100%;
            height: 100vh;
            background-color: rgb(255, 1, 1);
            animation: beforee 1s ease-in;
        }
        
    }
    .open 
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: 10;
    }
    .close
    {
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        animation: dp 3s step-end infinite;
    }
    .btn
    {
        border-radius: 1.5em;
        padding: 1em 2em;
        font-size: 1vmax;
        background-color: rgb(255, 89, 89);
        display: block;
        pointer-events: all;
        color: aliceblue;
        position: relative;
        z-index: 2;
    }
    .label
    {
        pointer-events: none;
    }
    .subtitle 
    {
        
        // margin-left: 1em;
        font-size: 2vmax;
        font-weight: 400;
        display: flex;
        flex-direction: column;
    }
    .title
    {
        position: relative;
        font-weight: 400;
        font-size: 9vmax;
        letter-spacing: .1em;
        &::before, &::after
        {
            content: "";
            position: absolute;
            width: 1.5em;
            height: 3px;
            border-radius: 2px;
            background-color: rgb(255, 89, 89);
        }
        &::before
        {
            top: 100%;
        }
        &::after
        {
            top: 120%;
        }
    }
    .p 
    {
        font-size: 4.5vmin;
        margin: 0 auto;
        width: 60vmax;
        text-transform: uppercase;
        .title-w
        {
            display: inline;
            color: rgb(255, 255, 255);
        }
        .title-r
        {
            display: inline;
            color: rgb(255, 89, 89);
        }
    }
    
}
.logo
    {
        text-transform: uppercase;
        font-size: 1em;
        position: fixed;
        z-index: 10;
        top: 1em;
        left: 1em;
        letter-spacing: 0.2e;
        color: rgb(255, 255, 255);
    }
.pic
{
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
#main
{
    background-color: rgb(69, 60, 143);
}
section
{
    background-image: linear-gradient(rgba(14,12,44,0.8),rgba(14, 12, 44, 0.8)),url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614439790_57-p-temnii-fon-dlya-saita-61.jpg");
}

#our_works:target, #about_us:target, #get_in_touch:target 
{
    *
    {
        transition: all 0.5s;
    }
    a
    {
        text-decoration: none;
    }
     .content
    {
        position: fixed;
        // z-index: 10;
        animation: none;
        left: 0;
        top: 0;bottom: 0;right: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        z-index: 1000000;
        cursor:default;
        margin-right: 0;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
        &::before
        {
            display: none;
        }
    }
    .pic{
        height: 100vh;
        overflow: hidden;
        img {
            position: fixed;
            z-index: -1;
            right: 0;
        }
    }
    .open {
        display: none;
    }
    .close
    {
        // position: ;
        // top: 0;
        // left: 0;
        position: absolute;
        top: 1em;
        left: 1em;
        width: 1em;
        height: 1em;
        border-radius: 50% 2% 0 2%;
        visibility: visible;
        opacity: 1;
        transition: 1s;
    }
    .form
    {
        height: 70vh;
        width: 100vw;
        background-color: rgb(255, 255, 255);
        padding: 4em 0;

        margin: 30vh auto 0;
        .title
        {
            position: absolute;
            margin-left: 15vmin;
            margin-right: 15vmin;
            top: 20%;

            color: rgb(255, 255, 255);
        }
        .ramka 
        {
            position: absolute;
            top: 100%;
            left: 0;
            height: 30vh;
            width: 100vw;
            background: url("../images/ramka.png");
            background-size: 100% 100%;
        }
        form 
        {
            display: flex;
            flex-direction: column;
            // width: 50%;
            margin: 0 auto;
        }
        label 
        {

        }
        input 
        {

        }
        .contact-form 
        {
            height: auto;
            margin: 0 auto;
            div {
                padding-bottom: 0.5em;
                // width: 100%;
                height: 250%;
                margin: 0 auto;
            }
            
        }
    }
}

@media all and (orientation: portrait) 
{
    .contact-form 
    {
        height: auto;
        margin: 0 auto;
        div {
            padding-bottom: 0.5em;
            // width: 100%;
            height: 300%;
            margin: auto;
            width: 90%;
        }
        
    }
    section 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .content 
    {
        width: 80vw;
        height: 50vh;
    }
    .pic{
        height: 50vh;
    }
    .label
    {
        font-size: 10vw;
        font-weight: 800;
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: right;
    }
    .btn 
    {
        margin: auto;
    }
    .title
    {
        &::before
        {
            left: 45%;
        }
        &::after
        {
            right: 45%;
        }
    }
    .subtitle
    {
        margin: 4em 0 2em;
    }
}
@media (orientation: landscape) 
{
    section 
    {
        position: relative;
        
    }
    .content
    {
        width: 80vh;
        height: 75vh;
        margin-right: 10vmax;
        margin-left: auto;
        animation: aryberi 50s linear infinite;
    }
    .pic{
        height: 75vh;
    }
    .label
    {
        
        left: 10vmin;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        top: 19%;
        z-index: 2;
    }
    .title
    {
        
        &::before
        {
            left: 0;
        }
        &::after
        {
            left: 9vmax;
        }
    }
    .subtitle
    {
        margin: 3em 0 1.5em;
        width: 26vmax;
        font-weight: 400;
        text-align: left;
    }
}


@keyframes beforee 
{
    0% {
        right: 0;
        width: 5vw;
    }
    30% {
        right: 10vw;
        width: 30vh;
    }
    70% {
        right: 40vw;
        width: 20vh;
    }
    100% {
        right: 70vw;
        width: 0;
    }
}
@keyframes aryberi {
    0% {
        transform: translateX(0) rotate(-5deg);
        transform-origin: center center;
    }
    25% {
        transform: translateX(-15%);
        transform-origin: 25% 25%;
    }
    50% {
        transform: translateX(0) rotate(5deg);
        transform-origin: 50% 50%;
    }
    75% {
        transform: translateX(15%);
        transform-origin: center center;
    }
    100% {
        transform: translateX(0) rotate(-5deg);
        transform-origin: center center;
    }
}
@keyframes beriary {
    0% {
        transform: translateY(-5%);
    }
    25% {
        transform: translateY(0);
    }
    31% {
        transform: translateY(-7%);
    }
    37% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-9%);
    }
    43% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    87% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(-5%);
    }
}
@keyframes dp
{
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100);
    }
    66% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.sec
{
    width: 100vw;
    height: 33.3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    .photo {
        z-index: 2;
        width: 10vmax;
        height: 10vmax;
        background-color: rgb(189, 189, 189);
        border-radius: 2px;
        margin: 0 1em;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .role
    {
        position: absolute;
        top: 20%;
        left: -10%;
        font-size: 20vmin;
        letter-spacing: 0.5vmin;
        color: rgba(169, 169, 169, 0.5);
        z-index: 0;
        text-align: left;

    }
    .skills
    {

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        span
        {
            display: flex;
            bottom: 0;
            width: 100%;
            // height: 10vmin;
            display: block;
            // background-color: rgb(168, 168, 168);
            position: relative;
            div {
                width: 10vmin;
                height: 10vmin;
                position: absolute;
                bottom: 100%;
                left: 40%;
                img 
                {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
    }
}