* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Monda', sans-serif;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html, body {
  background-color: #0e0c2c;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.my-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

section .label {
  color: honeydew;
}

section .content {
  position: relative;
  overflow-x: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  overflow-y: hidden;
}

section .content::before {
  content: "";
  position: absolute;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  height: 100vh;
  background-color: #ff0101;
  -webkit-animation: beforee 1s ease-in;
          animation: beforee 1s ease-in;
}

section .open {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section .close {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  -webkit-animation: dp 3s step-end infinite;
          animation: dp 3s step-end infinite;
}

section .btn {
  border-radius: 1.5em;
  padding: 1em 2em;
  font-size: 1vmax;
  background-color: #ff5959;
  display: block;
  pointer-events: all;
  color: aliceblue;
  position: relative;
  z-index: 2;
}

section .label {
  pointer-events: none;
}

section .subtitle {
  font-size: 2vmax;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .title {
  position: relative;
  font-weight: 400;
  font-size: 9vmax;
  letter-spacing: .1em;
}

section .title::before, section .title::after {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 3px;
  border-radius: 2px;
  background-color: #ff5959;
}

section .title::before {
  top: 100%;
}

section .title::after {
  top: 120%;
}

section .p {
  font-size: 4.5vmin;
  margin: 0 auto;
  width: 60vmax;
  text-transform: uppercase;
}

section .p .title-w {
  display: inline;
  color: white;
}

section .p .title-r {
  display: inline;
  color: #ff5959;
}

.logo {
  text-transform: uppercase;
  font-size: 1em;
  position: fixed;
  z-index: 10;
  top: 1em;
  left: 1em;
  letter-spacing: 0.2e;
  color: white;
}

.pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#main {
  background-color: #453c8f;
}

section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 12, 44, 0.8)), to(rgba(14, 12, 44, 0.8))), url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614439790_57-p-temnii-fon-dlya-saita-61.jpg");
  background-image: linear-gradient(rgba(14, 12, 44, 0.8), rgba(14, 12, 44, 0.8)), url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614439790_57-p-temnii-fon-dlya-saita-61.jpg");
}

#our_works:target *, #about_us:target *, #get_in_touch:target * {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#our_works:target a, #about_us:target a, #get_in_touch:target a {
  text-decoration: none;
}

#our_works:target .content, #about_us:target .content, #get_in_touch:target .content {
  position: fixed;
  -webkit-animation: none;
          animation: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  z-index: 1000000;
  cursor: default;
  margin-right: 0;
  background-color: white;
  overflow-y: auto;
}

#our_works:target .content::before, #about_us:target .content::before, #get_in_touch:target .content::before {
  display: none;
}

#our_works:target .pic, #about_us:target .pic, #get_in_touch:target .pic {
  height: 100vh;
  overflow: hidden;
}

#our_works:target .pic img, #about_us:target .pic img, #get_in_touch:target .pic img {
  position: fixed;
  z-index: -1;
  right: 0;
}

#our_works:target .open, #about_us:target .open, #get_in_touch:target .open {
  display: none;
}

#our_works:target .close, #about_us:target .close, #get_in_touch:target .close {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 1em;
  height: 1em;
  border-radius: 50% 2% 0 2%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

#our_works:target .form, #about_us:target .form, #get_in_touch:target .form {
  height: 70vh;
  width: 100vw;
  background-color: white;
  padding: 4em 0;
  margin: 30vh auto 0;
}

#our_works:target .form .title, #about_us:target .form .title, #get_in_touch:target .form .title {
  position: absolute;
  margin-left: 15vmin;
  margin-right: 15vmin;
  top: 20%;
  color: white;
}

#our_works:target .form .ramka, #about_us:target .form .ramka, #get_in_touch:target .form .ramka {
  position: absolute;
  top: 100%;
  left: 0;
  height: 30vh;
  width: 100vw;
  background: url("../images/ramka.png");
  background-size: 100% 100%;
}

#our_works:target .form form, #about_us:target .form form, #get_in_touch:target .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

#our_works:target .form .contact-form, #about_us:target .form .contact-form, #get_in_touch:target .form .contact-form {
  height: auto;
  margin: 0 auto;
}

#our_works:target .form .contact-form div, #about_us:target .form .contact-form div, #get_in_touch:target .form .contact-form div {
  padding-bottom: 0.5em;
  height: 250%;
  margin: 0 auto;
}

@media all and (orientation: portrait) {
  .contact-form {
    height: auto;
    margin: 0 auto;
  }
  .contact-form div {
    padding-bottom: 0.5em;
    height: 300%;
    margin: auto;
    width: 90%;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .content {
    width: 80vw;
    height: 50vh;
  }
  .pic {
    height: 50vh;
  }
  .label {
    font-size: 10vw;
    font-weight: 800;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  .btn {
    margin: auto;
  }
  .title::before {
    left: 45%;
  }
  .title::after {
    right: 45%;
  }
  .subtitle {
    margin: 4em 0 2em;
  }
}

@media (orientation: landscape) {
  section {
    position: relative;
  }
  .content {
    width: 80vh;
    height: 75vh;
    margin-right: 10vmax;
    margin-left: auto;
    -webkit-animation: aryberi 50s linear infinite;
            animation: aryberi 50s linear infinite;
  }
  .pic {
    height: 75vh;
  }
  .label {
    left: 10vmin;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 19%;
    z-index: 2;
  }
  .title::before {
    left: 0;
  }
  .title::after {
    left: 9vmax;
  }
  .subtitle {
    margin: 3em 0 1.5em;
    width: 26vmax;
    font-weight: 400;
    text-align: left;
  }
}

@-webkit-keyframes beforee {
  0% {
    right: 0;
    width: 5vw;
  }
  30% {
    right: 10vw;
    width: 30vh;
  }
  70% {
    right: 40vw;
    width: 20vh;
  }
  100% {
    right: 70vw;
    width: 0;
  }
}

@keyframes beforee {
  0% {
    right: 0;
    width: 5vw;
  }
  30% {
    right: 10vw;
    width: 30vh;
  }
  70% {
    right: 40vw;
    width: 20vh;
  }
  100% {
    right: 70vw;
    width: 0;
  }
}

@-webkit-keyframes aryberi {
  0% {
    -webkit-transform: translateX(0) rotate(-5deg);
            transform: translateX(0) rotate(-5deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  25% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    -webkit-transform-origin: 25% 25%;
            transform-origin: 25% 25%;
  }
  50% {
    -webkit-transform: translateX(0) rotate(5deg);
            transform: translateX(0) rotate(5deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  75% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: translateX(0) rotate(-5deg);
            transform: translateX(0) rotate(-5deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

@keyframes aryberi {
  0% {
    -webkit-transform: translateX(0) rotate(-5deg);
            transform: translateX(0) rotate(-5deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  25% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    -webkit-transform-origin: 25% 25%;
            transform-origin: 25% 25%;
  }
  50% {
    -webkit-transform: translateX(0) rotate(5deg);
            transform: translateX(0) rotate(5deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  75% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: translateX(0) rotate(-5deg);
            transform: translateX(0) rotate(-5deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

@-webkit-keyframes beriary {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  31% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  37% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
  43% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  87% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}

@keyframes beriary {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  31% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  37% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
  43% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  87% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}

@-webkit-keyframes dp {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-100);
            transform: translateX(-100);
  }
  66% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes dp {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-100);
            transform: translateX(-100);
  }
  66% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.sec {
  width: 100vw;
  height: 33.3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: relative;
}

.sec .photo {
  z-index: 2;
  width: 10vmax;
  height: 10vmax;
  background-color: #bdbdbd;
  border-radius: 2px;
  margin: 0 1em;
}

.sec .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec .role {
  position: absolute;
  top: 20%;
  left: -10%;
  font-size: 20vmin;
  letter-spacing: 0.5vmin;
  color: rgba(169, 169, 169, 0.5);
  z-index: 0;
  text-align: left;
}

.sec .skills {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec .skills span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100%;
  display: block;
  position: relative;
}

.sec .skills span div {
  width: 10vmin;
  height: 10vmin;
  position: absolute;
  bottom: 100%;
  left: 40%;
}

.sec .skills span div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.works {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.works a {
  display: block;
  width: 30vw;
  height: 30vw;
  background-color: silver;
}

.works a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.works a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.works .tables {
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-color: silver;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.works .tables .table1, .works .tables .table2 {
  display: none;
}

.works .tables:hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: none;
          animation: none;
  border-radius: 0;
}

.works .tables:hover .table1, .works .tables:hover .table2 {
  display: block;
}
/*# sourceMappingURL=style.css.map */